{% extends 'base.twig' %}
{% block body%}

<h2>Статьи</h2>

{{include ('pagination.twig')}}

{% for item in data %}
<div class="note">
    <p>
        <span class="date">{{ item.date }}</span>
        <span class="name">{{ item.name }}</span>
    </p>
    <p>
        {{ item.content }}
    </p>
</div>

{% endfor %}
{% endblock %}