<!DOCTYPE html>
<html lang="ru">
    <head>
    <meta charset="utf-8">  
        <title>Гостевая книга</title>
        <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
    <div id="wrapper">
    <div style="text-align: right;">
    {% if username %}
        <div class="text-success">
            Добро пожаловать {{username}}
            <a href="/login">Выйти</a>
        </div>
    {% else %}
        <a href="/registration">Регистрация</a> |
    <a href="/login">Войти</a> 
    {% endif %}
    </div>
<header>
<a href="/">Главная</a> |
    <a href="/articles">Статьи</a> |
</header> 

{% block body %}

{% endblock%}

<footer>Все права защищены &copy; 2050</footer>
        </div>
    </body> 
</html>