{% extends 'base.twig' %}

{% block body%}
<h1>Гостевая книга</h1>
<br>

{% for item in data %}
<div class="note">
    <p>
        <span class="date">{{ item.date }}</span>
        <span class="name">{{ item.name }}</span>
    </p>
    <p>
        {{ item.content }}
    </p>
</div>

{% endfor %}

{% endblock %}