{% extends 'base.twig' %}

{% block body%}
<h1>Гостевая книга</h1>
<br>

{% for item in data %}
<div class="note">
    <p>
        <span class="date">{{ item.date }}</span>
        <span class="name">{{ item.name }}</span>
    </p>
    <p>
        {{ item.content }}
    </p>
</div>

{% endfor %}

{% if username %}
<div id="form">
    <form action="" method="post">
        <p><textarea type="text" class="form-control" name="comment" placeholder="Ваш отзыв"></textarea></p>
        <p><input type="submit" class="btn btn-info btn-block" value="Сохранить"></p>
    </form>
</div>
{% endif %}

{% endblock %}